span{
    font-size:larger;
}
h3{
    text-align: center;
}
body{
    background-image:url("asset/What-Is-Online-Exam.png");
    background-attachment: fixed;
    background-size: cover;
}
p{
    font-size: 1.2em;
}